
* {
  margin: 0;
  padding: 0;
}
 .both {
    list-style: none; 
    display: inline-block;    
}
.text-style {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
#size1 {
  width: 90px;
  font-weight: 700;
}
li {
  display: inline; 
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #212529;
  padding: 40px 5px;
  box-sizing: border-box;
}
.text-right {
  float: right;
  padding-right: 150px;
}
.text-left {
  padding-left: 150px;
}
.size {
  font-size: 1.7rem;
  width: 400px;
  font-weight: 900;
}
/* Estilos generales para las secciones 1 a 4 */
.section1 {
  display: block;
  margin-top: 95px;
  box-sizing: border-box;
  text-align: center;
  background-color: #18bc9c;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  height: 650px;
  padding-top: 100px;
}
.section2 {
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  display: block;
  height: 800px;
  padding-top: 100px;
}
.section3 {
  box-sizing: border-box;
  text-align: center;
  background-color: #18bc9c;
  color: #fff;
  height: 650px;
  display: block;
  padding-top: 100px;
}
.section4 {
  text-align: center;
  padding-top: 100px;
}
.font-style {
  font-size: 5.5em;
  font-weight: 900;
}
.font-skills {
  font-size: 1.7em;
  font-weight: 500;
}

.images-portfolio {
  float: left;
  margin-left: 95px;
}
.size-img {
  width: 350px;
  height: 250px;
  margin: 10px;
}
.text-uppercase {
  text-transform: uppercase;
}
.font {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.font-about {
  font-size: 2.5em;
  font-weight: 700;
}
.font-3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  width: 30%;
  display: inline-block;
  text-align: left;
  margin: 10px;
}
.font-dt {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.border-dt {
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
}
/*Dando estilos a la sección formulario*/
.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
  align-items: center;
}
.input, .submit {
  border: none;
  border-bottom: solid gray 0.05rem;
  font-family: 'Lato', sans-serif;
}
.submit {
  border: none;
  background-color: #18bc9c;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.25rem;
  margin: 2rem 0; 
}
.input {
  font-size: 1.5em;
  color: #212529;
  line-height: 3.5em;
}
/*Dando estilos al footer*/
.footer {
  color: #fff;
  background-color: #212529;
  font-family: 'Montserrat', sans-serif;
  height: 300px;
  text-align: center;
  line-height: 2em;
  padding-top: 50px;
}
.column {
  box-sizing: inherit;
  display: inline-block;
  width: 30%;
}
.foot2 {
  padding-top: 50px;
}
.circle {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 15px;
  margin: 5px;
  font-size: 30px;
}
